.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /*position: sticky;*/
    opacity: 1;
    /*top: 0;*/
    z-index: 0;


}

.header__menu{
    display: none;
}

.header__contact{
    position: absolute;
    right: 1em;
}

li a{
    text-decoration: none;
}

.header__bars{
    color: var(--clr-light);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
    position: relative;
    z-index: 1000;

}



/* XS */
/*@media (min-width: 475px) {*/


/*}*/

/* sm */
/*@media (min-width: 640px) {*/

/*}*/

/* md */
@media (min-width: 768px) {
    .header__menu{
        display:flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 2em;
    }

    .header__bars{
        display: none;
    }

}

/* Lg */
@media (min-width: 1024px) {
    li a{
        font-size: var(--size-xl);

    }
}

/* XL */
@media (min-width: 1280px) {
    li a{
        font-size: var(--size-2xl);

    }
}

/* 2XL */
/*@media (min-width: 1536px) {}*/


