.projects{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.projects__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 15rem;
    


}
.projects__text{
    align-self: flex-start;
    position: sticky;
    top: 5rem;
    margin-top: 7em;
    /* border: 1px solid teal; */
}

.projects__title{
    font-size: var(--size-5xl);
    color: var(--clr-teal);
    letter-spacing: .1em;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
    position: relative
;
}
.projects__title-link-icon{
    color: var(--clr-slate600);
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}





.projects__title-link{
    text-decoration: none;
    position: relative;
    transition: color .3s ease-out;

}

.projects__title-link:hover{
    color: var(--clr-orange);
}

.projects__title-link::after{
    content: "";
    display: block;
    margin: auto;
    width: 0;
    height: 3px;
    border-radius: 100%;
    background-color: transparent;
    transition: width .5s ease-out,
    background-color .5s ease-out ;
}

.projects__title-link:hover::after{
    width: 100%;
    background-color: var(--clr-orange);
}


.projects__paragraph{

    max-width: 40ch;
    /*border: 1px solid yellow;*/
    margin: 0 auto;
    font-size: var(--size-xl);
    color: var(--clr-slate400);
    margin-bottom: 1.5em;

}

.projects__skills{
    font-size: var(--size-base);
    color: var(--clr-slate600);
}



.projects__img{
    width: 30rem;
    height: auto;
    margin: 3em auto;
    transition: scale .4s ease;

}

.projects__img:hover{
    scale: 1.1;
    overflow:hidden;
}

.projects__video{
    width: 40em;
    height: auto;
    margin: 0 auto;
    outline: 3px solid var(--clr-teal);

}

@media (min-width: 350px) { 
    .projects{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    
    .projects__section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 4em;
        
    
    
    }
    .projects__text{
        align-self: center;
        position: static;
        /* margin-top: 6em; */
        height: 100%;
        
    }
    
    .projects__title{
        font-size: var(--size-3xl);
        
    }

    .projects__paragraph{
    
        max-width: 60ch;
        
        margin: 0 auto;
        font-size: var(--size-base);
        /* color: var(--clr-slate400);
        margin-bottom: 1.5em; */
    
    }
    
    .projects__skills{
        margin-top: 1.5rem;
        font-size: var(--size-sm);
        color: var(--clr-slate600);
    }
    

    
    .projects__images{
        display: none;
    }
    .projects__video{
        display: none;
    }
} 

/* XS */
@media (min-width: 475px) { 
    .projects{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    
    .projects__section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 4em;
        
    
    
    }
    .projects__text{
        align-self: center;
        position: static;
        /* margin-top: 6em; */
        height: 50vh;
        
    }
    
    .projects__title{
        font-size: var(--size-3xl);
        
    }

    .projects__paragraph{
    
        max-width: 60ch;
        
        margin: 0 auto;
        font-size: var(--size-base);
        /* color: var(--clr-slate400);
        margin-bottom: 1.5em; */
    
    }
    
    .projects__skills{
        margin-top: 1.5rem;
        font-size: var(--size-sm);
        color: var(--clr-slate600);
    }
    

    

    
} 

/* sm */
/*@media (min-width: 640px) {}*/

/* md */
@media (min-width: 768px) {
    .projects{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    
    .projects__section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid red; */
        margin-bottom: 15rem;
        border: none;
        gap: 1rem;
        
    
    
    }
    .projects__text{
        align-self: flex-start;
        position: sticky;
        top: 5rem;
        margin-top: 7em;
        /* border: 1px solid teal; */
    }
    
    .projects__title{
        font-size: var(--size-2xl);
        color: var(--clr-teal);
        letter-spacing: .1em;
        margin-bottom: 1.5em;
    }
    

    
    .projects__paragraph{
    
        max-width: 40ch;
        /*border: 1px solid yellow;*/
        margin: 0 auto;
        font-size: var(--size-base);
        color: var(--clr-slate400);
        margin-bottom: 1.5em;
    
    }
    
    .projects__skills{
        font-size: var(--size-base);
        color: var(--clr-slate600);
    }
    
    .projects__images{
        display:unset;
    }

    .projects__video{
        display: unset;
    }
    
    .projects__img{
        width: 20rem;
        height: auto;
        margin: 3em auto;
        transition: scale .4s ease;
    
    }
    
    .projects__img:hover{
        scale: 1.1;
        overflow:hidden;
    }
    
    .projects__video{
        width: 23em;
        height: auto;
        margin: 0 auto;
        outline: 3px solid var(--clr-teal);
    
    }
}

/* Lg */
@media (min-width: 1024px) {
    .projects{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    
    .projects__section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid red; */
        margin-bottom: 15rem;
        border: none;
        
    
    
    }
    .projects__text{
        align-self: flex-start;
        position: sticky;
        top: 5rem;
        margin-top: 7em;
        /* border: 1px solid teal; */
    }
    
    .projects__title{
        font-size: var(--size-3xl);
        color: var(--clr-teal);
        letter-spacing: .1em;
        margin-bottom: 1.5em;
    }
    
    .projects__title-link{
        position: relative;

        text-decoration: none;
        /*transition: all .3s ease;*/
    }
    


    
    .projects__paragraph{
    
        max-width: 40ch;
        /*border: 1px solid yellow;*/
        margin: 0 auto;
        font-size: var(--size-lg);
        color: var(--clr-slate400);
        margin-bottom: 1.5em;
    
    }
    
    .projects__skills{
        font-size: var(--size-base);
        color: var(--clr-slate600);
    }
    
    .projects__images{
        display:unset;
    }
    
    .projects__img{
        width: 25rem;
        height: auto;
        margin: 3em auto;
        transition: scale .4s ease;
    
    }
    
    .projects__img:hover{
        scale: 1.1;
        overflow:hidden;
    }
    
    .projects__video{
        width: 30em;
        height: auto;
        margin: 0 auto;
        outline: 3px solid var(--clr-teal);
    
    }
}

/* XL */
@media (min-width: 1280px) {
    .projects{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    
    .projects__section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid red; */
        margin-bottom: 15rem;
        border: none;
        
    
    
    }
    .projects__text{
        align-self: flex-start;
        position: sticky;
        top: 5rem;
        margin-top: 7em;
        /* border: 1px solid teal; */
    }
    
    .projects__title{
        font-size: var(--size-5xl);
        color: var(--clr-teal);
        letter-spacing: .1em;
        margin-bottom: 1.5em;
    }
    

    
    .projects__paragraph{
    
        max-width: 40ch;
        /*border: 1px solid yellow;*/
        margin: 0 auto;
        font-size: var(--size-xl);
        color: var(--clr-slate400);
        margin-bottom: 1.5em;
    
    }
    
    .projects__skills{
        font-size: var(--size-base);
        color: var(--clr-slate600);
    }
    
    .projects__images{
        display:unset;
    }
    
    .projects__img{
        width: 25rem;
        height: auto;
        margin: 3em auto;
        transition: scale .4s ease;
    
    }
    
    .projects__img:hover{
        scale: 1.1;
        overflow:hidden;
    }
    
    .projects__video{
        width: 30em;
        height: auto;
        margin: 0 auto;
        outline: 3px solid var(--clr-teal);
    
    }
}

/* 2XL */
@media (min-width: 1536px) {
    .projects{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    
    .projects__section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid red; */
        margin-bottom: 15rem;
        border: none;
        
    
    
    }
    .projects__text{
        align-self: flex-start;
        position: sticky;
        top: 5rem;
        margin-top: 7em;
        /* border: 1px solid teal; */
    }
    
    .projects__title{
        font-size: var(--size-5xl);
        color: var(--clr-teal);
        letter-spacing: .1em;
        margin-bottom: 1.5em;
    }
    

    
    .projects__paragraph{
    
        max-width: 40ch;
        /*border: 1px solid yellow;*/
        margin: 0 auto;
        font-size: var(--size-xl);
        color: var(--clr-slate400);
        margin-bottom: 1.5em;
    
    }
    
    .projects__skills{
        font-size: var(--size-base);
        color: var(--clr-slate600);
    }
    
    .projects__images{
        display:unset;
    }
    
    .projects__img{
        width: 30rem;
        height: auto;
        margin: 3em auto;
        transition: scale .4s ease;
    
    }
    
    .projects__img:hover{
        scale: 1.1;
        overflow:hidden;
    }
    
    .projects__video{
        width: 40em;
        height: auto;
        margin: 0 auto;
        outline: 3px solid var(--clr-teal);
    
    }
}